/*----------------- GENERAL CSS ------------------*/

/*Configure the tab buttons*/
.sheet-banner{
    background-image: url(https://homemadegaming.files.wordpress.com/2020/10/cropped-bal_logo_no_background.png?w=50);
    background-color: white;
    background-position: center top;
    background-repeat: no-repeat;
    text-align: center;
}
.sheet-select-btn{
    border-radius: 8px;
    background-color: dimgray;
    color: white;
}
.sheet-select-btn:hover{
    background-color: darkgray;
    border-color: gray;
}

.sheet-attributes,
.sheet-race,
.sheet-attacks,
.sheet-abilities,
.sheet-transformations,
.sheet-settings {
	display: none;
}

.sheet-ability-table{
    display:grid;
    border-style: none;
    grid-template-areas:
    'abilityName abilityMod abilityTrans abilityRanks abilityRacial abilityTotal';
}

.sheet-save-table{
    border-top: 1px inset darkgray;
    grid-template-areas:
    'save-name save-misc save-total';
    display:grid;
}

/* show the selected tab */
.sheet-tabstoggle[value="attributes"] ~ div.sheet-attributes,
.sheet-tabstoggle[value="race"] ~ div.sheet-race,
.sheet-tabstoggle[value="attacks"] ~ div.sheet-attacks,
.sheet-tabstoggle[value="abilities"] ~ div.sheet-abilities,
.sheet-tabstoggle[value="transformations"] ~ div.sheet-transformations,
.sheet-tabstoggle[value="settings"] ~ div.sheet-settings {
	display: block;
}

/*
.sheet-info{
    display: grid;
    border: 1px solid darkgray;
    grid-row: 25px;
    grid-template-areas:
    'attr-head'
    'attr-top'
    'attr-bottom';
}
*/

.sheet-info{
    display: grid;
    border: 1px solid darkgray;
    align-items: center;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    padding: 5px;
    grid-template-areas:
    'info-header info-header info-header info-header info-header info-header'
    'info-name info-name-data info-name-data info-player info-player-data info-player-data'
    'info-race info-race-data info-race-data info-subrace info-subrace-data info-subrace-data'
    'info-age info-age-data info-gender info-gender-data info-skin info-skin-data'
    'info-birthday info-birthday-data info-hair info-hair-data info-eye info-eye-data'
    'info-size info-size-data info-powerlevel info-powerlevel-data info-battlepower info-battlepower-data'
    'info-hp info-hp-data info-ki info-ki-data info-capacity info-capacity-data';
}

.sheet-info-header{
    grid-area: info-header;
}
.sheet-info-name{
    grid-area: info-name;
}
.sheet-info-name-data{
    grid-area: info-name-data;
}
.sheet-info-player{
    grid-area: info-player;
}
.sheet-info-player-data{
    grid-area: info-player-data;
}
.sheet-info-race{
    grid-area: info-race;
}
.sheet-info-race-data{
    grid-area: info-race-data;
}
.sheet-info-subrace{
    grid-area: info-subrace;
}
.sheet-info-subrace-data{
    grid-area: info-subrace-data;
}
.sheet-info-age{
    grid-area: info-age;
}
.sheet-info-age-data{
    grid-area: info-age-data;
}
.sheet-info-gender{
    grid-area: info-gender;
}
.sheet-info-gender-data{
    grid-area: info-gender-data;
}
.sheet-info-skin{
    grid-area: info-skin;
}
.sheet-info-skin-data{
    grid-area: info-skin-data;
}
.sheet-info-birthday{
    grid-area: info-birthday;
}
.sheet-info-birthday-data{
    grid-area: info-birthday-data;
}
.sheet-info-hair{
    grid-area: info-hair;
}
.sheet-info-hair-data{
    grid-area: info-hair-data;
}
.sheet-info-eye{
    grid-area: info-eye;
}
.sheet-info-eye-data{
    grid-area: info-eye-data;
}
.sheet-info-size{
    grid-area: info-size;
}
.sheet-info-size-data{
    grid-area: info-size-data;
}
.sheet-info-powerlevel{
    grid-area: info-powerlevel;
}
.sheet-info-powerlevel-data{
    grid-area: info-powerlevel-data;
}
.sheet-info-battlepower{
    grid-area: info-battlepower;
}
.sheet-info-battlepower-data{
    grid-area: info-battlepower-data;
}
.sheet-info-hp{
    grid-area: info-hp;
}
.sheet-info-hp-data{
    grid-area: info-hp-data;
}
.sheet-info-ki{
    grid-area: info-ki;
}
.sheet-info-ki-data{
    grid-area: info-ki-data;
}
.sheet-info-capacity{
    grid-area: info-capacity;
}
.sheet-info-capacity-data{
    grid-area: info-capacity-data;
}



.sheet-info-name-data input,
.sheet-info-player-data input,
.sheet-info-race-data input,
.sheet-info-subrace-data input,
.sheet-info-age-data input,
.sheet-info-gender-data input,
.sheet-info-skin-data input,
.sheet-info-birthday-data input,
.sheet-info-hair-data input,
.sheet-info-eye-data input,
.sheet-info-size-data input,
.sheet-info-powerlevel-data input,
.sheet-info-battlepower-data input
{
    width:100%;
}

/*
.sheet-attr-head{
    display: grid;
    align-items: center;
    grid-area: attr-head;
}

.sheet-attr-top{
    display: flex;
    justify-content: center;
    align-content: space-between;
    grid-area: attr-top;
}

.sheet-attr-bot{
    display: flex;
    justify-content: center;
    align-content: space-between;
    grid-area: attr-bottom;
}
*/

.sheet-equipmentTable{
    display: grid;
    border: 1px solid seagreen;
    border-top: none;
    grid-template-areas: 
    'gear1 gear2 gear3';
}

.sheet-abilities{
    background-position: center;
    background-repeat: no-repeat;
    background-color: white;
    text-align: center;
}
.sheet-transformations-table{
    display: grid;
    border: 2px solid silver;
    justify-content: space-around;
    grid-template-areas: 
    'tname tagi tfor tten tsch tins tspi tper';
}

.sheet-tagi{
    grid-area: tagi;
}

.sheet-tfor{
    grid-area: tfor;
}

.sheet-tten{
    grid-area: tten;
}

.sheet-tspi{
    grid-area: tspi;
}

.sheet-tsch{
    grid-area: tsch;
}

.sheet-tper{
    grid-area: tper;
}

.sheet-tins{
    grid-area: tins;
}

.sheet-ttype{
    grid-area: ttype;
}

.sheet-tname{
    grid-area: tname;
}

.sheet-transformations-bot{
    grid-area: transformations-bot;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sheet-transformations-top{
    grid-area: transformations-top;
    display: grid;
    grid-template-areas: 
    'tn tag tin tpe tsc tsp tfo tte';
}

.sheet-transformations-page{
    display: grid;
    border: 3px solid silver;
    grid-template-areas: 
    'transformations-top'
    'transformations-bot';
}

button[type="roll"].sheet-stress-button:before{
    content: ' ';
  }
  
button[type="roll"].sheet-stress-button:hover{
    background-position: 0;
  }

button[type="roll"].sheet-stress-button{
    background-image: url(https://i.pinimg.com/564x/e2/3d/e8/e23de8081ca4de637306e28c58f521e4.jpg);
    background-size: 30px 30px;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    border-style: none;
    background-color: transparent;
    margin-left: 5px;
} 

button[type="roll"].sheet-attack-button:before{
    content: ' ';
  }
  
button[type="roll"].sheet-attack-button:hover{
    background-position: 0;
  }

button[type="roll"].sheet-attack-button{
    background-image: url(https://i.pinimg.com/564x/24/79/d7/2479d70c7483283648c3af85b1da948d.jpg);
    background-size: 30px 30px;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    border-style: none;
    background-color: transparent;
    margin-left: 5px;
}

.sheet-transformations{
    background-position: center;
    background-repeat: no-repeat;
    background-color: white;
    text-align: center;
}

.sheet-ccol7{
    grid-area: ccol7;
}

.sheet-ccol6{
    grid-area: ccol6;
}

.sheet-ccol5{
    grid-area: ccol5;
    justify-content: center;
}

.sheet-ccol4{
    grid-area: ccol4;
    justify-content: center;
}

.sheet-ccol3{
    grid-area: ccol3;
    justify-content: center;
}

.sheet-ccol2{
    grid-area: ccol2;
    justify-content: center;
}
.sheet-ccol1{
    grid-area: ccol1;
    justify-content: center;
}
.sheet-saves{
    display: grid;
    grid-template-areas: 
    'save1 save2 save3 save4';
}
.sheet-custom-attack-table{
    display: grid;
    border: 2px solid rgb(156, 155, 155);
    justify-content: space-around;
    grid-template-areas: 
    'ccol1 ccol2 ccol3 ccol4 ccol5';
}

.sheet-custom-attacks-hcol7{
    grid-area: hcol7;
}


.sheet-custom-attacks-hcol6{
    grid-area: hcol6;
}


.sheet-custom-attacks-hcol5{
    grid-area: hcol5;
}


.sheet-custom-attacks-hcol4{
    grid-area: hcol4;
}


.sheet-custom-attacks-hcol3{
    grid-area: hcol3;
}


.sheet-custom-attacks-hcol2{
    grid-area: hcol2;
}


.sheet-custom-attacks-hcol1{
    grid-area: hcol1;
}

.sheet-custom-attacks-top{
    display: grid;
    grid-area: custom-attacks-top;
    grid-column: auto;
    grid-template-areas: 
    'hcol1 hcol2 hcol3 hcol4 hcol5';
}

.sheet-custom-attack-bottom{
    grid-area: custom-attacks-bottom;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sheet-custom-attacks{
    display: grid;
    grid-row: auto;
    grid-template-areas:
    'custom-attacks-top'
    'custom-attacks-bottom';
    border: 3px solid rgb(156, 155, 155);
}

.sheet-basic-attacks-row{
    border: 1px inset rgb(156, 155, 155);
    border-left-style: none;
    border-right-style: none;
    height: 35px;
}

.sheet-basic-attack-col4{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center top;
    border: 1px inset rgb(156, 155, 155);
    grid-area: col4;
}

.sheet-basic-attack-col3{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center top;
    border: 1px inset rgb(156, 155, 155);
    grid-area: col3;
}

.sheet-basic-attack-col2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center top;
    border: 1px inset rgb(156, 155, 155);
    grid-area: col2;
}

.sheet-basic-attack-col1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center top;
    border: 1px inset rgb(156, 155, 155);
    grid-area: col1;
}

.sheet-basic-attack{
    display: grid;
    grid-template-areas: 
    'category-head name-head misc-strike-head strike-head misc-wound-head wound-head ki-cost-head'
    'physical physical-content physical-content physical-content physical-content physical-content physical-content'
    'energy energy-content energy-content energy-content energy-content energy-content energy-content'
    'magic magic-content magic-content magic-content magic-content magic-content magic-content'
    'signature signature-content signature-content signature-content signature-content signature-content signature-content'
    'footer footer footer footer footer footer footer';
    border: 1px solid darkgray;
}

.sheet-attack-category-head{
    grid-area: category-head;
    border-bottom: 1px inset darkgray;
}
.sheet-attack-name-head{
    grid-area: name-head;
    border-bottom: 1px inset darkgray;
}
.sheet-attack-misc-strike-head{
    grid-area: misc-strike-head;
    border-bottom: 1px inset darkgray;
}
.sheet-attack-strike-head{
    grid-area: strike-head;
    border-bottom: 1px inset darkgray;
}
.sheet-attack-misc-wound-head{
    grid-area: misc-wound-head;
    border-bottom: 1px inset darkgray;
}
.sheet-attack-wound-head{
    grid-area: wound-head;
    border-bottom: 1px inset darkgray;
}
.sheet-attack-ki-cost-head{
    grid-area: ki-cost-head;
    border-bottom: 1px inset darkgray;
}

.sheet-attack-physical{
    grid-area: physical;
    border-bottom: 1px inset darkgray;
    border-right: 1px inset darkgray;
}
.sheet-attack-physical-content{
    grid-area: physical-content;
    border-bottom: 1px inset darkgray;
    grid-template-areas:'attack-name stike-misc strike wound-misc wound ki-cost';
    justify-content: space-between;
    display: grid;
}

.sheet-attack-energy{
    grid-area: energy;
    border-bottom: 1px inset darkgray;
    border-right: 1px inset darkgray;
}
.sheet-attack-energy-content{
    grid-area: energy-content;
    border-bottom: 1px inset darkgray;
    grid-template-areas:'attack-name stike-misc strike wound-misc wound ki-cost';
    justify-content: space-between;
    display: grid;
}

.sheet-attack-magic{
    grid-area: magic;
    border-bottom: 1px inset darkgray;
    border-right: 1px inset darkgray;
}
.sheet-attack-magic-content{
    grid-area: magic-content;
    border-bottom: 1px inset darkgray;
    grid-template-areas:'attack-name stike-misc strike wound-misc wound ki-cost';
    justify-content: space-between;
    display: grid;
}

.sheet-attack-signature{
    grid-area: signature;
    border-right: 1px inset darkgray;
}
.sheet-attack-signature-content{
    grid-area: signature-content;
}
.sheet-attack-signature-item-edit{
    display:none;
}
.sheet-attack-signature-item-display{
    display:grid;
}
.sheet-signature-edit:checked ~ .sheet-attack-signature-item-edit{
    display:grid;
} 
.sheet-signature-edit:checked ~ .sheet-attack-signature-item-display{
    display:none;
}


.sheet-attack-footer{
    grid-area: footer;
    border-top: 3px double darkgray;
}

.sheet-attacks{
    background-position: center;
    background-repeat: no-repeat;
    background-color: white;
    text-align: center;
}

.sheet-character{
    background-position: center;
    background-color: white;
    background-repeat: no-repeat;
    text-align: center;
}

.sheet-stat-ten{
    display: flex;
    grid-area: stat-ten;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px inset darkgray;
}

.sheet-stat-pot{
    display: flex;
    grid-area: stat-pot;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px inset darkgray;
}

.sheet-stat-per{
    display: flex;
    grid-area: stat-per;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px inset darkgray;
}

.sheet-stat-spi{
    display: flex;
    grid-area: stat-spi;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px inset darkgray;
}

.sheet-stat-str{
    display: flex;
    grid-area: stat-str;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px inset darkgray;
}

.sheet-stat-sch{
    display: flex;
    grid-area: stat-sch;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px inset darkgray;
}

.sheet-stat-agi{
    display: flex;
    grid-area: stat-agi;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px inset darkgray;
}

.sheet-stat-ins{
    grid-area: stat-ins;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px inset darkgray;
}
.sheet-skills{
    grid-area: skills;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-left: 6px;
    border: 1px inset darkgray;
}
.charsheet .repcontainer[data-groupname=repeating_knowledge],
.charsheet .repcontainer[data-groupname=repeating_profession],
.sheet-skill-table{
    width:100%;
}
.charsheet .repcontainer[data-groupname=repeating_knowledge]>div,
.charsheet .repcontainer[data-groupname=repeating_profession]>div,
.sheet-skill-table{
    display:grid;
    grid-template-areas:
    'skill-name skill-profieciency skill-misc ability-mod skill-total';
}
.sheet-skill-table>p{
    font-size:10px;
}
.sheet-skill-label{
    color: black;
}
.sheet-skill-label:hover{
    cursor: pointer;
}

button[type="roll"].sheet-skill:hover{
    background-position: 0;
    color:red;
}

button[type="roll"].sheet-skill{
    font-size: 10px;
    border-style: none;
    background-color: transparent;
    margin-left: 5px;
    width:100px;
    background: none;
    background-image: none;
    border: none;
    box-shadow: none;
}
button[type="roll"].sheet-ability:hover{
    background-position: 0;
    color:red;
}

button[type="roll"].sheet-ability{
    font-size: 13px;
    /*border-style: none;*/
    background-color: transparent;
    width:80px;
    background: none;
    background-image: none;
    border: none;
    box-shadow:none;
}

.sheet-skill-number{
    width:45px !important;
    height:20px !important;
    font-size:10px;
}

.sheet-proficiency-select{
    margin:2px;
    font-size:10px;
    width:100px;
    height:20px;
}
/*
might try something like this later
pulled from pathfinder sheet
.sheet-skills>.repcontrol>.repcontrol_add:before{
    content: '&';
    font-family: pictos;
    color: black;
    display: inline-block;
}

.sheet-skills>.repcontrol>.repcontrol_add{
    border: 1px solid black;
    border-radius: 50%;
    font-size: 13px;
    padding: 3px;
    height: 12px;
    width: 12px;
    line-height: 12px;
}
.sheet-skills>.repcontrol>.repcontrol_edit{
    border: 1px solid black;
    border-radius: 50%;
    font-size: 13px;
    padding: 3px;
    height: 12px;
    width: 12px;
    line-height: 12px;
}
*/
.sheet-all-stats{
    grid-area: all-stats;
    border: 2px solid darkgray;
    display:grid;
}

.sheet-stats{
    display: grid;
    border: 1px solid darkgray;
    grid-template-areas: 
    'all-stats skills';
}
.sheet-talent-table{
    display: grid;
    grid-template-areas:
    'name short_desc short_desc'
    'long_desc long_desc long_desc';
    border: 1px solid darkgray;
}

.sheet-talent-edit ~ .sheet-talent-verbose{
    display:none;
}

.sheet-talent-edit ~ .sheet-talent-simple{
    display:none;
}

.sheet-talent-edit:checked ~ .sheet-talent-verbose{
    display:grid;
}

.sheet-talent-edit:not(:checked) ~ .sheet-talent-simple{
    display: grid;
    grid-template-areas:
    'name short_desc';
    border: 1px solid darkgray;
}

.sheet-talent-name{
    grid-area: name;
    display: grid;
    grid-template-rows:auto;
    grid-template-columns: 26px auto;
    width:100%;
}
.sheet-talent-short-desc{
    grid-area: short_desc;
    width:100%;
}
.sheet-talent-long-desc{
    grid-area: long_desc;
    font-size:10px;
    resize:vertical;
    margin: 5px;
    min-height:13px;
}

.sheet-auto-expand {
	position: relative;
	cursor: text;
	word-wrap: break-word;
}
.sheet-auto-expand span {
	visibility: hidden;
	white-space: pre-wrap;
	display: block;
}
.sheet-auto-expand textarea {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	margin: 0;
	overflow: hidden;
	resize: none;
    min-height:18px;
	height: 100%;
	width: 100%;
	display: block;
	box-sizing: border-box;
	background: transparent;
	color: inherit;
	font: inherit;
	letter-spacing: inherit;
	padding: inherit;
	text-align: inherit;
	text-transform: inherit;
}

.sheet-j-label{
    color: black;
}

.sheet-j-h3{
    color: black;
    font-size: 1.5em;
}

h1{
    font-size: 3em;
    color: black;
}

h2{
    font-size: 2em;
    color: black;
}

h3{
    font-size: 1.5em;
    text-align: center;
    color: black;
}

h4{
    font-size: 1em;
    color: black;
}

label{
    color: black;
    display: inline-block;
}
